*{
    margin: 0;
    padding: 0;
    
    color: #22bc22;
}
html{
    height: 100%;
}
body{
    background-color: #222831;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
li {
    text-decoration: none;
    list-style: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
button{
    cursor: pointer;
}
header{
    background-color: black;
    color: #22bc22;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 36px;
    text-transform: uppercase;
    border-bottom: 3px solid;
}
.foot{
    background-color: black;
    color: #22bc22;
    padding: 10px;
    font-size: 18px;
    border-top: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container{
    flex: 1;
}
.game {
    margin:  36px 36px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;

}
.center{
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#comment{
    text-align: center;
    background-color: #111720;
    padding: 20px 20px ;
    font-size: 28px;
    width: 250px;
    height: 90px;
    margin-bottom:-46px;
    border: 1px solid black;
    box-sizing: content-box;
    border-radius: 10px 10px 0px 0px;
}
#scoreBox {
    flex: 0;
    width: 100px;
    height: 50px;
    font-size: 60px;
    margin-top: -36px;
    background-color: #111720;
    border: 1px black solid;
    border-top: 0px;
    padding:  0px 9px 3px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 0px 0px 10px 10px;
}
.button{
    width: 120px;
    height: 120px;
    font-size: 100px;
    color: #00dbf8;
    background-color: #111720;
    border: 2px black solid;
    border-radius: 25%;
}
.choice{
    justify-self: center;
    align-self: center;
    display: flex;
}
.battle {
    text-align: center;
    width: 120px;
    height: 120px;
    color: #22bc22;
    background-color: #111720;
    font-size: 100px;
    border: 1px black solid;
    border-radius: 25%;
}
.c{
    color: red;
}
.p{
    color: #00dbf8;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    padding-top: 241px; 
    top: 0%;
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}
.modal-content {
    background-color: #222831;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    font-size: 42px;
   
}
#info {
    font-size: 32px;
    text-align: center;
}
#again{
    width: 125px;
    height: 45px;
    font-size: 18px;
    color: #22bc22;
    background-color: #111720;
    border: 2px black solid;
    border-radius: 10px;
}
.won{
  background-color: #00dbf86b; 
}
.lose{
    background-color: rgba(255, 0, 0, 0.4);
}
.ndis{
    display: none;
}
.button:hover{
    background-color: #202b3d;
}
.button:active{
    background-color: #293952;
}
#again:hover{
    background-color: #142314;
}
#again:active{
    background-color: #1c341c;
}
.rtn {
    transform: rotate(-90deg);
}
.lrtn{
    transform: rotate(90deg);
}
.mirror{
    display: inline-block; 
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: rotate(90deg) matrix(-1, 0, 0, 1, 0, 0);
}
.border-gradient {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #00dbf8, rgb(252, 0, 0) );
}
.fa-github {
    color: #22bc22;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform:rotate(360deg) scale(1.2);
  }